{# empty Twig template #}

<!DOCTYPE html>

<html>
    <head>
        <title>C'est l'heure de partir</title>
    </head>
    <body>
        
        <h1>Bye Bye</h1>
        <p>Page Bye Bye {{ contenu }}</p>
        <p>Nombre renvoyé: {{ id }}</p>
    </body>
</html>