{# empty Twig template #}

{% extends "MONSITEPlateformBundle::layout.html.twig" %}

{% block title %}
    Modifier une annonce - {{ parent() }}
{% endblock %}

{% block MONSITEPLATEFORM_body %}
    <h2>Modifier une annonce</h2>
    
    {{ include("MONSITEPlateformBundle:Advert:form.html.twig") }}
    
    <p>Vous éditez une annonce deja existance</p>
    
    <p>
        {#
        <a href="{{path("MONSITE_platform_view", {'id': advert.id}) }}" class="btn btn-default">
          <i class="glyphicon glyphicon-chevron-left"></i>Retour à l'annonce
        </a>#}
        {{ advert.id}}
    </p>

    {% endblock %}